[submodule "GAHEOS/odoo-hr"]
	path = GAHEOS/odoo-hr
	url = git@github.com:GAHEOS/odoo-hr.git
	branch = 14.0

[submodule "GAHEOS/odoo-ec"]
	path = GAHEOS/odoo-ec
	url = git@github.com:GAHEOS/odoo-ec.git
	branch = 14.0
